@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300 !default;0,400 !default;0,500 !default;0,700 !default;1,400 !default;1,500 !default;1,800&display=swap');

$green: #8AB572 !default;
$secondary: #003031 !default;
$primary: $green !default;
$success: $secondary !default;
$info: #A4A5A4 !default;
$red: #9E0300 !default;
$yellow: #FABA8C !default;
$gray-500: #A4A5A4 !default;
$dark: $secondary !default;
$border-radius: 0rem !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;
$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-bolder: 800 !default;
$font-weight-bold: 700 !default;
$h1-font-size: 56px !default;
$h2-font-size: 56px !default;
$h3-font-size: 32px !default;
$h4-font-size: 32px !default;
$h5-font-size: 20px !default;
$h6-font-size: 14px !default;
$input-btn-padding-y: 1rem !default;
$input-btn-padding-x: 1.6rem !default;
$btn-font-weight: $font-weight-bold !default;
$navbar-toggler-padding-y: 0.5rem !default;
$input-font-weight: 500 !default;
$headings-font-weight: $font-weight-bold !default;
$input-line-height: 1.8 !default;
$input-padding-y: 0.4rem !default;
$link-hover-decoration: none !default;
$emphasized-link-hover-darken-percentage: 0% !default;

$navbar-nav-link-padding-x: 1.3rem !default;
$line-height-sm: 1.2 !default;
$nav-link-padding-y: 0.9rem !default;
$dropdown-padding-y: 0.9rem !default;
$dropdown-spacer: 0rem !default;
$dropdown-color: var(--theme-main-nav-link-color) !default;
$dropdown-bg: var(--theme-main-navDdropdown-bg) !default;
$input-padding-x: 0.75rem !default;
$input-font-size: 24px !default;
$input-box-shadow: transparent !default;
$input-focus-box-shadow: transparent !default;
$input-bg: rgba($primary, 0.03) !default;
$alert-padding-y: 2.4rem !default;
$alert-padding-x: 1.8rem !default;
$close-font-weight: 400 !default;
$kbd-padding-y: 0.2rem !default;
$btn-box-shadow: none !default;
$btn-focus-box-shadow: transparent !default;
$btn-active-box-shadow: transparent !default;
$input-btn-padding-y-lg: 1.6rem !default;
$input-btn-padding-x-lg: 2.3rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-sm: 0.7rem !default;
$input-focus-bg: rgba($primary, 0.2) !default;
$input-focus-border-color: rgba($primary, 0.2) !default;
$input-padding-x-lg: 0.82rem !default;
$input-padding-y-lg: 1.6rem !default;
$card-border-color: transparent !default;
$card-border-width: 0px !default;
$card-height: 350px !default;
$overflows: auto, hidden, clip !default;
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex, inherit !default;

$border-width: 0;
$grid-breakpoints: ( xs: 0, smm: 320px, sm: 576px, md: 768px, lg: 992px, dlg: 1024px, xl: 1290px, extra: 1400px, xxl: 1440px, 3xl: 1920px, 4xl: 2400px  );
$offsetWidth: 6px;
$offsetWidthMD: 52px;
$offsetWidthLG: 52px;
$offsetWidthDLG: 72px;
$offsetWidthXL: 84px;
$offsetWidthXXL: 100px;
$offsetWidth3XL: 136px;
$offsetWidth4xl: 172px;

$nav-link-transition:               opacity .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$link-decoration: none;